{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'writing/base.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'writing/layout.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'writing/skeleton.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'writing/flat-ui/bootstrap/css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'writing/flat-ui/css/flat-ui.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'writing/custom.css' %}" />

<!DOCTYPE html>

<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Index</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

{% block head %} {% endblock %}

</head>
<body>



	<!-- Primary Page Layout
	================================================== -->

	<div class="container">
		<div class="sixteen columns">
			<h1 class="remove-bottom" style="margin-top: 40px">Puget Sound</h1> 

			<nav class="navbar navbar-inverse" role="navigation">
  			<div class="navbar-header">
   			 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
     		 <span class="sr-only">Toggle navigation</span>
    		</button>
   			 <a class="navbar-brand" href="#">Sustainability Services Collections</a>
  			</div>
  			<div class="collapse navbar-collapse" id="navbar-collapse-01">   
    <ul class="nav navbar-nav">           
    </ul>    

    	{% if user.is_authenticated %}
      		<p class="navbar-text navbar-right"> Hello <a class="navbar-link" href="#"> {{user}}! </a></p>
       	{% endif %}
  </div><!-- /.navbar-collapse -->
</nav><!-- /navbar -->

			<p><a href = "{% url 'logout' %}"> Logout </a>
			<hr/>
		</div>

	{% block content %} {% endblock %}


	</div><!-- container -->
	

<!-- End Document
================================================== -->
</body>
</html>
