{% extends "writing/base.html" %}

{% block head %}
	<!-- Load in jQuery -->
	<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'> 
	</script> 

{% endblock %}

{% block content %}

{% if get_locations %}
    {% for theLocation in get_locations %}
    	<button class = "btn btn-primary"> 
		<a href = '{% url "goto_building" theLocation.name %}'> 
		{{theLocation.name}} 
		</a> 
    	</button>

    	<br>

    {% endfor %}
{% else %}
    <p> No buildings to display. </p>
{% endif %}

{% endblock %}